@import url('../../Layouts/vars.css');

.textInput{
    position: relative;
}

.textInputField{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(var(--color-white), .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    margin-bottom: 0.5rem;
    outline: none;
    border-bottom: 3px solid rgb(var(--color-input-bottom));
}

.textInputField:focus{
    border-bottom: 3px solid rgb(var(--color-primary-light));
}


.textInputLabel{
    padding-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
    color: rgb(var(--color-black));
    font-weight: bold;
    transition: all 0.3s;
}

.textInputField:placeholder-shown ~ .textInputLabel {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}