@import url('../../Layouts/vars.css');

.formGroup{
    position: relative;
}

.formGroupInput{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(var(--color-white), .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    margin-bottom: 0.5rem;
    outline: none;
    border-bottom: 3px solid rgb(var(--color-input-bottom));
}

.formGroupInput:focus{
    border-bottom: 3px solid rgb(var(--color-primary-light));
}


.viewPasswordIcon{
    height: 2.5rem;
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: 2;
    cursor: pointer;
}

.viewPasswordIcon:hover{
    fill: rgb(var(--color-secondary));
}

.formGroupLabel{
    padding-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
    color: rgb(var(--color-black));
    font-weight: bold;
    transition: all 0.3s;
}

.formGroupInput:placeholder-shown ~ .formGroupLabel {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}